
.draw-area-background{
	width: 90%;
	height: 100%;
	background-color: transparent;
	background-image: url("http://localhost:3000/img/crayons.png");
	background-repeat: no-repeat;
}

.draw-area {
	margin-top: 10%;
	border: 2px solid #0FA000;
	border-radius: 20px;
	position: relative;
	background-color: white;
}

div.toolbox{
	padding-left: 30px;
}

.colorPaletteLabel {
	font-weight: 800;
}

img.color{
	width: 80%;
	height: 25px;
	margin-left: 40px;
	cursor: pointer;
	margin-top: 5%;
}

img.color[data-color=black]{
	margin-left: 60px;
}

button.btn.color{
	width: 88%;
	margin-left: 40px;
	cursor: pointer;
	margin-top: 5%;
}

.paletteContainer .brushWidth,
.paletteContainer .opacity
{
	padding-bottom: 20px;
}

.paletteContainer .brushWidth label,
.paletteContainer .opacity label
{
	padding-right: 10px;
}

canvas#canvasDraw.draw{
	cursor: crosshair;
	border: 2px dotted #000000;
}

@media only screen and (max-width: 1200px) 
{
	.draw-area {
		margin-top: 0px;
		height: 100%!important;
		position: relative;
	}

	img.color
	{
		width: 45px;
		height: 15px;
		margin-left: 10px;
		cursor: pointer;
	}

	button.btn.color
	{
		font-size: 12px;
		width: 45px;
		margin-left: 10px;
		cursor: pointer;
	}

	.paletteContainer input
	{
		width: 40px;
	}
}